/*通过css3所做的页面滑动效果*/
/*整体样式设计*/
body{
	font-family: Georgia,serif,Lato,"Microsoft YaHei",sans-serif;
	background-color: #ddd;
	font-weight: 400;
	color: #333;
    overflow: hidden;	
	-webkit-font-smoothing: antialiased;
	font-size: 1.1em;
}

a{
	text-decoration: none;
	color: #555;
}
h1{
	font-size:2em;margin:0 0 0.5em 0;margin-top:0;
}
h4{
	font-size:1.25em;margin:0 0 0.1em 0;margin-top:0;
}
p{
	font-size:1.5em;margin:0.5em 0;
}
p{
	color:#aee2d9
}
h1{
	text-align:center;
}
h1+h2,h1+p{
	margin-top:-0.5em;
	display: inline-block;
}
#title{
	margin:0.5em 0 0 0;
}
#subtitle{
	margin:1em 0 0.25em 0;color:#aee2d9;
}
*{
	box-sizing:border-box;
}
.section{
	color:#eef3f0;padding:50px;transition:0.5s;
}
.center{
	text-align:center;margin-top: 50px;
}
#avatar{
	width:256px;
	height:256px;
	border:10px solid #aee2d9;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
}
.last{
	margin-top: 150px;
}
.marginn{
	margin-left: 180px;
}
.right{
	float: right;
}
.left{
	float: left;
}
.left1{
	float: left;
	line-height: 30px;
}
.div-1{
	width:350px;
	height: 50px;
	margin: o auto; 
	clear: both;
	line-height: 20px;
}
.div-2{
	width:400px;
	height: 50px;
	margin: o auto; 
	clear: both;
	line-height: 20px;
}
/*每个页面底部引导三角形的制作，通过做出矩形然后旋转45°，并掩盖一半的方式进行制作*/
.st-deco1{
	width:50px;
	height:50px;
	background:#6699cc;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	position:absolute;
	left: 50%;	
	bottom: -25px;
	margin-left: -25px;
}
.st-deco2{
	width:50px;
	height:50px;
	background:#22b573;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	position:absolute;
	left: 50%;	
	bottom: -25px;
	margin-left: -25px;
}
.col-left{
	width: 350px;
	height: auto;
	float: left;
}
.col-right{
	width: 350px;
	height: auto;
	float: left;
	margin-left: 200px;
}
.clr{
	width: 0;
	height: 0;
	overflow: hidden;
	clear: both;
	padding: 0;
	margin: 0;
}
/*页面导航样式，通过设置每个导航所占div比例，隐藏input，通过a触发input事件，引导到相应的界面*/
.st-container{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	font-family: "Josefin Slab","Myriad Pro",Arial,sans-serif;
}
/*导航下三角形制作*/
.st-container > input,
.st-container > a{
	width: 20%;
	height: 34px;
	line-height: 34px;
	position: fixed;
	top: 0;
	cursor: pointer;
}

.st-container > input{
	opacity: 0;
	z-index: 1000;
}

.st-container > a{
	z-index: 10;
	font-weight: 700;
	font-size: 16px;
	background: #22b573;
	text-align: center;
	color: #fff;
	text-shadow:1px 1px 1px rgba(151,24,64,0.2);
}
/*导航所占比例设置*/
#st-control-1,#st-control-1 + a{
	left: 0%;
}
#st-control-2,#st-control-2 + a{
	left: 20%;
}
#st-control-3,#st-control-3 + a{
	left: 40%;
}
#st-control-4,#st-control-4 + a{
	left: 60%;
}
#st-control-5,#st-control-5 + a{
	left: 80%;
}
/*导航被选中的颜色设置*/
.st-container input:checked + a,
.st-container input:checked:hover +a{
	background: #2e8b57;
}

.st-container input:checked + a:after{
	content: "";
	width: 0;
	height: 0;
	overflow: hidden;
	border: 20px solid transparent;
	border-top-color: #2e8b57;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -20px;
}
/*鼠标划过颜色设置*/
.st-container input:hover + a{
	background: #218868;
}

.st-scroll,
.st-panel{
	width: 100%;
	height: 100%;
	position: relative;
}
/*设置导航引导，每个导航向下定位100%，依次递增，并做浏览器兼容，通过这种方式来做出滑动效果*/
.st-scroll{
	left: 0;
	top: 0;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	-webkit-transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
	-ms-transition:all 0.6s ease-in-out;
	transition:all 0.6s ease-in-out;
	position: relative;
}

.st-panel{
	background: #fff;
	overflow: hidden;
}

#st-control-1:checked ~ .st-scroll{
	-webkit-transform:translateY(0%);
	-moz-transform:translateY(0%);
	-o-transform:translateY(0%);
	-ms-transform:translateY(0%);
    transform:translateY(0%);
}
#st-control-2:checked ~ .st-scroll{
	-webkit-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
    transform:translateY(-100%);
}
#st-control-3:checked ~ .st-scroll{
	-webkit-transform:translateY(-200%);
	-moz-transform:translateY(-200%);
	-o-transform:translateY(-200%);
	-ms-transform:translateY(-200%);
    transform:translateY(-200%);
}
#st-control-4:checked ~ .st-scroll{
	-webkit-transform:translateY(-300%);
	-moz-transform:translateY(-300%);
	-o-transform:translateY(-300%);
	-ms-transform:translateY(-300%);
    transform:translateY(-300%);
}
#st-control-5:checked ~ .st-scroll{
	-webkit-transform:translateY(-400%);
	-moz-transform:translateY(-400%);
	-o-transform:translateY(-400%);
	-ms-transform:translateY(-400%);
    transform:translateY(-400%);
}
/*一三五界面和二四界面背景色分别设置*/
#st-panel-1,#st-panel-3,#st-panel-5{
	background: #22b573;
}
#st-panel-2,#st-panel-4{
	background:#6699cc;
}
/*非常希望能到贵公司培训实习，希望给我一个机会，只要肯教我就肯钻研*/